template(name='project_show')
  header
    .buttons
      button.editor
        i.entypo.line-graph
        | Editor
    a.logo
  div.main
    .split
      .main
        ul.list-grid
          each tables
            li.edit-table
              div
                i.entypo.numbered-list.large
              small
                = title
                i.delete-table.entypo.circled-cross

          li.add-table
            div
              i.entypo.circled-plus.large
              small Add table