<template name="home.index">
  <div class="main">
    <h2>Projects</h2>
    {{> home_index_projects}}

    <h2>Sources</h2>

    <ul class="list-grid">
      {{#each sources}}
        <li>
          <div><i class="entypo text-doc large"></i></div>
          <small>
            {{title}}
            <i class="delete entypo circled-cross"></i>
          </small>
        </li>
      {{/each}}
      <li class='add-document'>
        <div><i class="entypo circled-plus large"></i></div>
        <small>Add document</small>
      </li>
    </ul>
  </div>
</template>
