template(name='source_show')
  div.split
    div.sidebar
      a(href='/') Back

      div.steps
        div.step.collapsed
          i.entypo.numbered-list
          span {{title}}
        {{#each steps}}
          {{#if expanded}}
            div.step.expanded
              form.step
                div.row
                  input(type='text', name='title', value='{{title}}')
                div.row
                  textarea(name='code').large.code
                    {{code}}
                div.row
                  input(type='submit' value='Save')
                  input.delete-step.error(type='button', value='Delete')
          {{else}}
            div.step.collapsed
              i.entypo.cog
              span {{title}}
          {{/if}}
        {{/each}}

        div.step.action.add-step
          i.entypo.plus
          span Processing
        div.step.action.add-graph
          i.entypo.plus
          span Graph

      div.graphs
        {{#each graphs}}
          {{#if expanded}}
            form.graph
              div.row
                input(type='text', name='title', value='{{title}}')
              div.row
                textarea(name='code').large.code
                  {{code}}
              div.row
                input(type='submit' value='Save')
                input.delete-graph.error(type='button', value='Delete')
          {{else}}
            div.graph.collapsed
              h2
                i.entypo.line-graph
                | {{title}} 
          {{/if}}
        {{/each}}


    div.left
      | code here


    div.right
      {{> source_table}}

