template(name='source_show')
  div.split
    div.sidebar
      a(href='/') Back
      |  | 
      a(href="{{pathFor 'dashboard.show'}}") Dashboard

      div.steps
        div.step.collapsed
          i.entypo.numbered-list
          span {{title}}
        {{#each steps}}
          div.draggable.step.collapsed(class='{{currentClass}}', data-id='{{_id}}')
            i.entypo.cog
            span {{title}}
        {{/each}}

        {{#each graphs}}
          div.step.graph.collapsed(class='{{currentClass}}')
            i.entypo.line-graph
            span {{title}}
        {{/each}}

        {{{plusButton 'add-step' 'plus' 'Process'}}}  
        {{{plusButton 'add-line-chart' 'plus' 'Line chart'}}}
        {{{plusButton 'add-bar-chart' 'plus' 'Bar chart'}}}


    div.left
      {{> source_code}}


    div.right
      {{> source_error}}
      {{> source_table}}
      {{> source_graph}}

