template(name='source_show')
  div.split
    div.left
      table.preview
        tr
          {{#each dataColumns}}
            th {{this}}
          {{/each}}

        {{#each dataPreview}}
          tr
            {{#each this}}
              td {{this}}
            {{/each}}
        {{/each}}

    div.right
      div.actions
        a.add-map(href='#') + Map
        a.add-reduce(href='#') + Reduce
        a.add-graph(href='#') + Graph

      h1 GRID3 // {{title}}

      div.steps
        {{#each steps}}
          div.step.expanded
            form.step
              div.row
                input(type='text', name='title', value='{{title}}')
              div.row
                textarea(name='code').large.code
                  {{code}}
              div.row
                input(type='submit' value='Save')
                input.delete.error(type='button', value='Delete')
        {{/each}}
