template(name='source_show')
  div.split
    div.sidebar
      a(href='/') Back

      div.steps
        div.step.collapsed
          i.entypo.numbered-list
          span {{title}}
        {{#each steps}}
          div.step.collapsed(class='{{currentClass}}')
            i.entypo.cog
            span {{title}}
        {{/each}}

        {{#each graphs}}
          div.step.graph.collapsed(class='{{currentClass}}')
            i.entypo.line-graph
            span {{title}}
        {{/each}}

        div.step.action.add-step
          i.entypo.plus
          span Processing
        div.step.action.add-graph
          i.entypo.plus
          span Graph


    div.left
      {{> source_code}}


    div.right
      {{> source_table}}
      {{> source_graph}}

