template(name='source_show')
  div.split
    div.left
      table.preview
        {{#if is2D}}
          {{#each dataPreview}}
            tr
              {{#each this}}
                td {{this}}
              {{/each}}
          {{/each}}
        {{/if}}

        {{#if is1D}}
          {{#each dataPreview}}
            tr
              td {{this}}
          {{/each}}
        {{/if}}

        {{#if isObject}}
          {{#each dataPreviewObject}}
            tr
              th {{key}}
              td {{value}}
          {{/each}}
        {{/if}}

        {{#if isNumber}}
          tr
            th {{dataPreview}}
        {{/if}}


    div.right
      div.actions
        a.add-step(href='#') + Process
        a.add-graph(href='#') + Viz

      h1
        a(href='/') GRID3
        |  //
        | {{title}}

      div.steps
        {{#each steps}}
          {{#if expanded}}
            div.step.expanded
              form.step
                div.row
                  input(type='text', name='title', value='{{title}}')
                div.row
                  textarea(name='code').large.code
                    {{code}}
                div.row
                  input(type='submit' value='Save')
                  input.delete-step.error(type='button', value='Delete')
          {{else}}
            div.step.collapsed
              h2
                i.entypo.cog
                | {{title}}
          {{/if}}
        {{/each}}

      h1 Viz

      div.graphs
        {{#each graphs}}
          {{#if expanded}}
            form.graph
              div.row
                input(type='text', name='title', value='{{title}}')
              div.row
                textarea(name='code').large.code
                  {{code}}
              div.row
                input(type='submit' value='Save')
                input.delete-graph.error(type='button', value='Delete')
          {{else}}
            div.graph.collapsed
              h2
                i.entypo.line-graph
                | {{title}} 
          {{/if}}
        {{/each}}
