template(name='source_table')
  table.preview
    {{#if is2D}}
      {{#each dataPreview}}
        tr
          {{#each this}}
            td {{this}}
          {{/each}}
      {{/each}}
    {{/if}}

    {{#if is1D}}
      {{#each dataPreview}}
        tr
          td {{this}}
      {{/each}}
    {{/if}}

    {{#if isObject}}
      {{#each dataPreviewObject}}
        tr
          th {{key}}
          td {{value}}
      {{/each}}
    {{/if}}

    {{#if isNumber}}
      tr
        th {{dataPreview}}
    {{/if}}
