@import '_colors'
@import 'nib'

// Sources

ul.list
  list-style none
  margin 0
  padding 0
  clearfix()

  li
    background fg2
    margin-bottom 5px
    margin-right 5px
    border-radius 3px
    padding 5px
    width 200px
    float left
    clearfix()

    &.alt1
      background transparent
      border 1px solid fg2
      text-align center

      button
        border none
        float none

  div.icon
    float left
    display block
    font-size 16px
    padding 5px 3px 0 5px

  small, button
    font-size 12px

  small
    font-size 13px
    display inline-block
    padding-top 5px


  button
    background transparent
    border 1px solid #fff
    color #fff
    border-radius 3px
    float right

ul.list-grid
  list-style none
  padding 0
  clearfix()
  text-align center
  margin-top 30px

  li
    width 120px
    height 70px
    float left
    margin-right 15px
    margin-bottom 15px
    padding-top 35px
    padding-bottom 15px
    cursor pointer
    border 1px solid fg2

  i.entypo.large
    font-size 72px

  small
    color fg1
    font-size 13px
    display block

    i.entypo
      cursor pointer
      position relative
      top 2px
    i.entypo:hover
      color fg1

ul.sidebar-list
  margin 0
  padding 0
  list-style none
  margin-top 20px

  li
    margin-bottom 20px
    cursor pointer

    > i.entypo.large
      font-size 36px
      background #394958
      // background red
      padding 5px
      border-radius 50%
      width 18px
      height 18px
      display inline-block
      text-align center
      line-height 50%

    > i.entypo.small
      margin-left 5px
      position relative
      top -3px

    span
      display inline-block
      position relative
      top -5px
      margin-left 5px
      font-weight 500

    &.action
      margin-bottom 10px
      color #90a4b7

      > i.entypo.large
        background #5a6b7b
        width 15px
        height 15px
        line-height 40%
      span
        top -4px
        font-weight 400

    &.active
      > i.entypo.large
        background #4aa8ff
        color #1c4b77

      span
        color #4aa8ff

    .actions
      float right