button
  background #3c516b
  color #afbbc9
  border none
  padding 5px 15px
  cursor pointer

  i.entypo
    margin-right 5px
    position relative
    top 1px

  &:active, &:focus
    outline 0

  &:active
    background darken(#3c516b, 3)