@import '_colors'

#chart
  margin-top 30px

svg.chart
  // border 1px solid fg2

  circle.point
    fill fg3

  path.domain
    fill fg2

  text
    fill fg2
    font-size 12px

  path.line
    stroke fg3
    stroke-width 2px
    fill transparent

  rect
    fill fg2