@import '_colors'

#chart
  margin-top 30px

svg.chart
  // border 1px solid fg2

  circle.point
    fill fg3

  path.domain
    fill #ccc
    fill none
    stroke #222

  text
    fill #222
    font-size 12px
    font-family Abel

  path.line
    stroke #2972b7
    stroke-width 1px
    fill #2972b7

  rect
    fill #2972b7