@import '_colors'
@import 'nib'

// Command prompt

.home-command
  // padding 50px
  box-sizing border-box

  a.logo
    float left
    margin-top 5px

  div.input
    padding-left 130px

    input
      width 100%
      box-sizing border-box
      background transparent
      border 1px solid fg2
      color fg1

      outline none
      padding 10px 15px

// Sources

ul.sources
  list-style none
  padding 0
  clearfix()
  text-align center
  margin-top 30px

  li
    width 80px
    float left
    margin-bottom 20px
    cursor pointer

  i.entypo.link
    font-size 48px

  small
    color fg2
    font-size 12px

    i.entypo
      cursor pointer
    i.entypo:hover
      color fg1