@import '_colors'

.home-command
  padding 50px
  box-sizing border-box

  a.logo
    float left
    margin-top 5px

  div.input
    padding-left 130px

    input
      width 100%
      box-sizing border-box
      background transparent
      border 1px solid fg2
      color fg1

      outline none
      padding 10px 15px