@import '_colors'
@import 'nib'

// Sources

ul.sources
  list-style none
  padding 0
  clearfix()
  text-align center
  margin-top 30px

  li
    width 120px
    float left
    margin 15px
    padding-top 35px
    padding-bottom 15px
    cursor pointer
    border 1px solid fg2

  i.entypo.text-doc, i.entypo.circled-plus
    font-size 72px

  small
    color fg1
    font-size 13px
    display block

    i.entypo
      cursor pointer
      position relative
      top 2px
    i.entypo:hover
      color fg1