@import 'nib'
@import '_colors'

body
  background bg1
  color fg1
  padding 50px

a.logo
  display block
  width 105px
  height 31px
  image '/images/logo.png' 105px 31px
  text-indent -9999px

// Command prompt

.home-command
  // padding 50px
  box-sizing border-box

  a.logo
    float left
    margin-top 25px

  strong
    font-weight normal
    color fg3
    display block
    margin-bottom 10px

  div.input
    padding-left 130px

    input
      width 100%
      box-sizing border-box
      background transparent
      border 1px solid fg2
      color fg1

      outline none
      padding 10px 15px