@import 'nib'
@import '_colors'

body, *
  font-family Helvetica
  font-size 14px

body
  background bg1
  color fg1

a.logo
  display block
  width 105px
  height 31px
  image '/images/logo.png' 105px 31px
  text-indent -9999px