@import '_colors'
@import 'nib'

// Sidebar

div.chart
  height 250px
  background bg1
  border 1px solid fg2
  margin-bottom 20px


// Code editor

form.heading-form
  margin-top -20px
  margin-left -20px
  margin-right -20px
  position relative

  .actions, .actions-left
    position absolute
    right 15px
    top 20px

    &.actions-left
      left 0
      right auto

    i.entypo
      font-size 36px
      padding 15px 15px
      border-radius 3px
      display inline-block
      float left
      background #394d67
      color #1a2c42
      margin-left 10px
      cursor pointer

      &.primary
        background #4892d9
        color #1c4b77
        transition background 0.15s, color 0.15s, -webkit-transform 0.15s

        &.pulse
          background #5ad13a
          color #134007
          transform scale(1.2)

        &.pulseback
          transition background 1s, color 1s, -webkit-transform 1s


  input, textarea
    border none
    background transparent
    padding 20px
    outline none

  div.row
    border-bottom 1px solid fg2
    &.title
      padding-left 50px

  div.code
    height 600px

.ace_editor
  font-family: 'Menlo', 'Monaco', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important


.ace-tomorrow-night
  background bg1 !important

  .ace_gutter, .ace_gutter-active-line
    background bg1 !important

  .ace_marker-layer
    .ace_active-line
      background bg1 !important


// Error

.error
  background #d72727
  padding 10px 15px
  border-radius 3px