@import '_colors'
@import 'nib'

// Sidebar

div.steps
  margin-top 20px

div.step
  margin-bottom 20px
  cursor pointer

  > i.entypo
    font-size 36px
    background #394958
    // background red
    padding 5px
    border-radius 50%
    width 18px
    height 18px
    display inline-block
    text-align center
    line-height 50%

  span
    display inline-block
    position relative
    top -5px
    margin-left 5px
    font-weight 500

  &.action
    margin-bottom 10px
    color #90a4b7

    > i.entypo
      background #5a6b7b
      width 15px
      height 15px
      line-height 40%
    span
      top -4px
      font-weight 400

  &.edited
    > i.entypo
      background #4aa8ff
      color #1c4b77

    span
      color #4aa8ff

  .actions
    float right

div.chart
  height 250px
  background bg1
  border 1px solid fg2
  margin-bottom 20px


// Code editor

form.step
  margin-top -20px
  margin-left -20px
  margin-right -20px
  position relative

  .actions
    position absolute
    right 15px
    top 20px

    i.entypo
      font-size 36px
      padding 15px 15px
      border-radius 3px
      display inline-block
      float left
      background #394d67
      color #1a2c42
      margin-left 10px
      cursor pointer

      &.primary
        background #4892d9
        color #1c4b77
        transition background 0.15s, color 0.15s, -webkit-transform 0.15s

        &.pulse
          background #5ad13a
          color #134007
          transform scale(1.2)

        &.pulseback
          transition background 1s, color 1s, -webkit-transform 1s


  input, textarea
    border none
    background transparent
    padding 20px
    outline none

  input
    border-bottom 1px solid fg2

  div.code
    height 400px

.ace_editor
  font-family: 'Menlo', 'Monaco', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important


.ace-tomorrow-night
  background bg1 !important

  .ace_gutter, .ace_gutter-active-line
    background bg1 !important

  .ace_marker-layer
    .ace_active-line
      background bg1 !important


// Error

.error
  background #d72727
  padding 10px 15px
  border-radius 3px