@import 'nib'
@import '_colors'

table.preview
  border-spacing 0
  border-collapse collapse
  border 1px solid fg2
  border-radius 5px

  tr
    td, th
      font-size 11px
      color fg1
      border-bottom 1px solid fg2
      border-right 1px solid fg2
      padding 10px 20px
    th
      text-align left
      font-weight normal

  // tr:hover
  //   td
  //     background fg2
  //     color bg1