template(name='flow_edit')
  header
    .buttons
      button.editor
        i.entypo.line-graph
        | Editor
    a.logo
  main
    .split
      .main
        {{#constant}}
          .flow
        {{/constant}}
