template(name='source_code')
  with object
    .step-form-wrapper
      form.step
        div.row
          input(type='text', name='title', value=title)
        div.actions
          i.entypo.check.submit.primary
          i.entypo.cross.delete
        div.row
          +source_code_editor