template(name='step_edit')
  header
    .buttons
      button.editor.flow
        i.entypo.flow-tree
        | Flow
      button.editor.dashboard
        i.entypo.line-graph
        | Dashboard
    a.logo

  div.split
    div.sidebar
      with table
        +table_sidebar


    div.left
      +source_code

    div.right
      +source_error
      +source_graph
      +source_table