template(name='graph_edit')
  header
    a.logo

  div.split
    div.sidebar
      with table
        +table_sidebar

    div.left
      +source_code

    div.right
      +source_error
      +graph_preview