template(name='hack_index_grouped_table')
  .item-wrapper
    .handle.grouped-table
      i.entypo.layout
    .content-wrapper
      each groups
        .group.expanded
          .header
            i.entypo.triangle-down.collapse
            i.entypo.triangle-right.expand
            = name
          table.content
            tr
              each columns
                td= title
            each data
              tr
                each row
                  td!= cell
            if more
              tr
                td.center(colspan=columns.length)
                  = more
                  | more