template(name='hack_index')
  .toolbar
    ul
      li.add-source
          i.entypo.shareable
          | Add source

  .sources
    each sources
      +hack_index_source

template(name='hack_index_source')
  div.source(style=sourceStyle, data-id=_id)
    table
      each dataPreview
        tr
          each this
            td= this