template(name='hack_index')
  .toolbar
    ul
      li.add-source
          i.entypo.shareable
          | Add source

  .sources
    each sources
      +source

template(name='source')
  div.source(style=sourceStyle, data-id=_id)
    = title
    = url