template(name='dashboard_show')
  header
    .buttons
      button.editor
        i.entypo.line-graph
        | Editor
    a.logo
  main
    {{#constant}}
      .graph
        | graph here brother
    {{/constant}}
