template(name='table_edit')
  header
    a.logo

  div.split
    div.sidebar
      +table_sidebar

    div.left-right
      h3 Sources

      ul.list
        each allSources
          li
            div.icon
              i.entypo.cloud.large
            small
              = title
            button.add-source Add

      h3 Processing

      ul.list
        +table_edit_add_step step="map" icon="map" label="Map"
        +table_edit_add_step step='reduce' icon='ccw' label='Reduce'
        +table_edit_add_step step='merge' icon='flow-branch' label='Merge'
        +table_edit_add_step step='group' icon='layout' label='Group'

      h3 Visualizations

      ul.list
        +table_edit_add_graph graph='line' icon='line-graph' label='Line graph'
        +table_edit_add_graph graph='bar' icon='bar-graph' label='Bar graph'

template(name='table_edit_add_step')
  li
    div.icon
      i.entypo.large(class=icon)
    small= label
    button.add-step Add

template(name='table_edit_add_graph')
  li
    div.icon
      i.entypo.large(class=icon)
    small= label
    button.add-vis Add